.logo {
    width: 100px;
    max-height: 100%;
    object-fit: contain;
}

.hero {
    background: #fff url(../img/pexels-tamas-meszaros-12064.jpg) no-repeat center center;
    background-size: cover;
    height: 40vh;
}

.bg-darker {
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
}

.img-responsive {
    height: 10rem;
    width: auto;
    object-fit: cover;
}

.img-responsive-big {
    height: 30rem;
    max-width: 100%;
    object-fit: cover;
}

.hover:hover{
    -webkit-box-shadow: 5px 9px 15px 0px #A0A0A0; 
    box-shadow: 5px 9px 15px 0px #A0A0A0;           
}
